.header {
	position: sticky;
	top: 0;
}

.body_text {
	font-family: "IBM Plex Mono", "serif";
	font-size: 1.06rem;
	font-weight: 300;
	letter-spacing: 0.3rem;
}

.nav_bar {
	min-height: 36px;
	display: flex;
	justify-content: flex-end;
	gap: 32px;
	background: white;
	align-items: center;
	padding: 0 24px;
	border-bottom: 1px solid grey;
	font-family: "IBM Plex Mono", "serif";
	text-transform: uppercase;
	color: #232323;
	font-weight: 400;
	letter-spacing: 0.3rem;
	list-style: none;
}

.nav_bar > li {
	flex-basis: 100px;
}

.horizontal_padding {
	padding: 0 152px;
}

.vertical_padding {
	padding-top: 152px;
}

.spacer_block {
	display: inline-block;
	height: 160px;
}

.spacer_block_lg {
	display: inline-block;
	height: 389px;
}

.about {
	background-color: #e8e8e8;
	display: flex;
	padding: 48px 0;
	gap: 48px;
}

.about_img {
	flex-basis: 33.3%;
	display: flex;
	justify-content: flex-end;
}

.about_img > img {
	width: 279px;
	height: 279px;
}

.about_info {
	flex-basis: 66.6%;
	max-width: 291px;
}

.project_overview {
	display: inline-block;
}

.heading_one {
	font-family: "Tektur", "serif";
	font-weight: 700;
	font-size: 5.93rem;
	letter-spacing: 0.3rem;
}

.heading_one > span {
	display: inline-block;
	width: min-content;
	padding-bottom: 48px;
}

.heading_two {
	font-family: "IBM Plex Mono", "serif";
	font-size: 1.375rem;
	font-weight: 700;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
}

.heading_three {
	font-family: "IBM Plex Mono", "serif";
	font-size: 1.25rem;
	font-weight: 600;
	letter-spacing: 0.3rem;
	padding-bottom: 16px;
	text-transform: uppercase;
}

.small_body_text {
	font-family: "IBM Plex Mono", "serif";
	font-size: 0.9375rem;
	font-weight: 400;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
}

@media screen and (max-width: 768px) {
	.heading_one {
		font-size: 48px;
		font-weight: 300;
	}
	.nav_bar {
		font-size: 13px;
	}

	.main {
		margin: 120px 120px 0 120px;
	}
}

.heading_padding {
	padding-top: 49px;
}

.project_overview_container {
	padding-top: 40px;
	display: flex;
	align-items: flex-start;
}

.grid_item {
	flex-basis: 33%;
}

.button_container {
	display: flex;
	justify-content: center;
}

.button {
	border-radius: 14px;
	background-color: white;
	border: #232323 dotted 2px;
	padding: 9 40px;
}
/* padding-right: 25px; */
/* padding-right: 184px; */
/* gap: 96px; */

/* .page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
} */

/* @media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}  */
